html { 
    background-color: #252525;
}

@font-face {
    font-family: 'Comic Sans MS';
    src: url("./fonts/comic-sans-ms/comici.ttf");
  }


.logo {
    display: block;
    margin-left: auto;
    margin-right: auto;
    padding-top: 10%;
    padding-bottom: 10%;
    width: 70%;
} 

.body {
    width: 100%;
    /* Give us some room on the bottom */
    margin-bottom: 20%;

    background-color: #252525;
    color: white; 

    font-family: Quattrocento, Georgia, Times, 'Times New Roman', serif;
    font-size: 4rem;
}

.body a { 
    color: white; 
}

.submission-box { 
    text-align: center;
    font-family: Comic Sans MS;
}

.submission-box label { 
    margin-top: 1rem;
    margin-bottom: 1rem;
    text-align: center;
    font-size: 2rem;
}

.submission-box input { 
    margin-top: 1rem;
    margin-bottom: 1rem;
    text-align: center;
    font-size: 4rem;
    font-family: Comic Sans MS;
}

#promo.invalid {
    outline-color: red;
    /* also need animation and -moz-animation */
    -webkit-animation: shake .5s linear;
}
/* also need keyframes and -moz-keyframes */
 @-webkit-keyframes shake {
    8%, 41% {
        -webkit-transform: translateX(-10px);
    }
    25%, 58% {
        -webkit-transform: translateX(10px);
    }
    75% {
        -webkit-transform: translateX(-5px);
    }
    92% {
        -webkit-transform: translateX(5px);
    }
    0%, 100% {
        -webkit-transform: translateX(0);
    }
}